<!DOCTYPE html>
{% load staticfiles %}

<html>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<style>
    h1,h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
 </style>

    <head>
        <title>Urban Server</title>
    </head>

    <body>
        <h1 style="text-align:center; ">SWIMMING POOL RUSSIAN PARTY 1.0 </h1>
        <h2 style=" text-align:center;">Today 13-02-2015</h2>
        <img src="{% static "images/dove.jpg" %}" alt="Swimming Pool Russian Party"
        style="color:blue;margin-left:30px; max-width:400px; display: block;margin-left:auto; margin-right: auto" />
            <h1 style="text-align:center">LOCATION</h1>

            <br/>
            <p>
        <div style="text-align:center; font-family: 'Oswald', sans-serif;font-size: 15px;"> Pre-Urban From 22:30 @ Via Tuscania 191 Int.8 </div>
            <br/>
        <div style="text-align:center;font-family: 'Oswald', sans-serif;font-size: 15px;"><b>And then:</b></div>
            <br/>
        <div style="text-align:center;font-family: 'Oswald', sans-serif;font-size: 15px;"> Urban From 00:30 @ Urban Music Club Perugia </div>
        </p>
    </body>

</html>
