<!DOCTYPE html>
{% load staticfiles %}
<html>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<style>
    h1,h2 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
    }
    span{
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        color: grey;
    }
 </style>
    <head>
        <title>Urban Server</title>
</head>
    <body>
        <h1 style="text-align:center">SWIMMING POOL RUSSIAN PARTY 1.0</h1>
        <p  style="text-align:center" >Sponsored by:<br/><p style="text-align:center"> <span> {{ boldmessage }} </span></p></p>
        <h2 style="text-align:center">Today 13-02-2015</h2>
        <img src="{% static "images/russian.jpg" %}" alt="Swimming Pool Russian Party"
        style="color:blue;margin-left:30px; max-width:600px; display: block;margin-left:auto; margin-right: auto" />
        <br/>
        <div style="text-align:center;">Where: <a href="/about/">CLICK TO LOCATION</a><br/></div>
    </body>
</html>
